*{
	margin: 0%;
}
	.navbar{
			background-color: red;
			padding: 1%;
			text-align: center;
		}
		.navbar a{
			text-decoration: none;
			font-size: 30;
			text-align: center;
			margin: 7%;
			color: white;

		}
}
}